@import "../app.scss";
@import "../blocks/header.scss";
@import "../blocks/track.scss";
@import "../blocks/discography-item.scss";
@import "../blocks/similar-artist.scss";
@import "../blocks/footer.scss";

.artist-header {
  position: relative;
}

.artist-desc {
  background-image: url("../images/Morten\ Harket.png");
  padding-top: 250px;
  padding-bottom: 225px;

  &-title {
    margin-bottom: 16px;
  }

  &-likes {
    margin-bottom: 48px;
  }

  &-btns {
    display: flex;
    gap: 0 24px;
  }

  &-btn {
    font-size: 12.8px;
    text-align: left;
    border: none;
    padding: 20px 20px 20px 67px;
    width: 200px;
    height: 60px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      left: 31px;
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (max-width: 450px) {
    padding-top: 225px;

    &-btns {
      flex-direction: column;
      gap: 24px 0;
    }
  }
}

.popular-tracks {
  color: #fff;

  #page-popular-track {
    padding-top: 100px;
  }

  &-title {
    margin-bottom: 48px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 55px);
    gap: 25px 50px;
  }

  @media screen and (max-width: 600px) {
    &-list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 55px);
      gap: 25px 0;
    }
  }
}

.discography {
  color: #fff;

  #page-discography {
    padding-top: 100px;
  }

  &-title {
    margin-bottom: 48px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
  }
}

.similar-artists {
  padding-bottom: 100px;
  color: #fff;

  #page-similar {
    padding-top: 100px;
  }

  &-title {
    margin-bottom: 48px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
  }
}
