.main-header {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  padding: 25px 0 200px;
}

.page-desc {
  color: #fff;
  margin-top: 150px;
  text-align: center;

  &-subtitle {
    margin-bottom: 30px;
  }

  &-text {
    margin-bottom: 15px;
  }

  .access-form {
    max-width: 570px;
    margin: 0 auto;

    &-input {
      min-width: 270px;
      min-height: 50px;
      border: 2px solid $secondary-light-color;
      border-radius: 3px;
      padding: 16px 20px;
      background-color: transparent;

      &::placeholder {
        font-size: 14px;
        color: #fff;
        font-weight: 700;
      }

      &:nth-of-type(odd) {
        margin-right: 20px;
      }
    }

    &-btn {
      margin-top: 20px;
      background-color: $green-color;
      border: none;
      padding: 20px 30px;
      width: 100%;
      color: #fff;
      font-size: 13.3px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 620px) {
    margin-top: 78px;

    &-subtitle {
      margin-bottom: 16px;
    }

    .access-form {
      width: 100%;

      &-input {
        width: 100%;

        &:nth-of-type(odd) {
          margin-right: 0;
          margin-bottom: 24px;
        }
      }
    }
  }
}

.subscription {
  padding-top: 100px;
  color: #fff;
  text-align: center;

  &-title {
    margin-bottom: 45px;
  }

  &-text {
    margin-top: 45px;
  }
}

.news {
  padding-top: 100px;
  text-align: center;
  color: #fff;

  &-title {
    margin-bottom: 48px;
  }
}

.mobile-app {
  padding: 100px 0;

  &-title {
    margin-bottom: 48px;
    color: #fff;
    text-align: center;
  }

  &-content {
    display: flex;
  }

  &-info {
    margin-right: 144px;
    width: 50%;

    &-text:nth-of-type(odd) {
      margin-bottom: 15px;
    }

    &-link {
      display: inline-block;
      margin-top: 16px;
      background-color: $brown-color;
      border-radius: 32px;
      padding: 16px 40px;
      font-size: 12.8px;
      color: #fff;
    }
  }

  @media screen and (max-width: 800px) {
    &-info {
      margin-right: 0;
      width: auto;
    }
  }

  @media screen and (max-width: 650px) {
    &-content {
      flex-direction: column;
      gap: 16px;
    }

    &-info {
      order: 2;
      text-align: center;
    }

    &-img {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 414px) {
    &-info {
      text-align: left;
    }
  }
}

.footer {
  background: linear-gradient(
    89.75deg,
    $purple-color 32.83%,
    $brown-color 81.56%
  );
  color: $main-light-color;

  &-nav {
    padding: 62px 0 72px;
    border-bottom: 1px solid $secondary-light-color;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    &-col {
      flex: 1 1 20%;
    }

    &-title {
      color: #fff;
      margin-bottom: 15px;
    }

    &-list-social {
      display: flex;
      gap: 24px;

      &-link {
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
      }

      &-icon {
        vertical-align: middle;
      }
    }
  }

  &-menu {
    padding: 40px 0;
    display: flex;
    gap: 16px;
  }

  @media screen and (max-width: 700px) {
    &-nav {
      gap: 20px 10px;

      &-col {
        flex: 1 1 40%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    &-nav {
      gap: 30px 0;

      &-col {
        flex: 1 1 100%;
      }
    }

    &-menu {
      flex-direction: column;
    }
  }
}
