.footer {
  background:
    linear-gradient(
      89.75deg,
      $purple-color 32.83%,
      $brown-color 81.56%
  );
  color: $main-light-color;

  &-nav {
    padding-top: 62px;
    padding-bottom: 72px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    &-col {
      flex: 1 1 20%;
    }

    &-title {
      color: #fff;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 27px;
    }

    &-list-social {
      display: flex;
      gap: 24px;

      &-link {
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
      }

      &-icon {
        vertical-align: middle;
      }
    }
  }

  &-menu {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    gap: 16px;
  }

  @media screen and (max-width: 700px) {
    &-nav {
      gap: 20px 10px;

      &-col {
        flex: 1 1 40%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    &-nav {
      gap: 30px 0;

      &-col {
        flex: 1 1 100%;
      }
    }

    &-menu {
      flex-direction: column;
    }
  }
}
