.similar-artist {
  width: 250px;
  text-align: center;

  &-avatar {
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &-name {
    text-transform: none;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
  }

  &-likes {
    color: $main-light-color;
  }

  @media screen and (max-width: 620px) {
    width: 137px;

    &-avatar {
      height: 137px;
    }
  }
}
