*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-family: Roboto;
  font-weight: 700;
}
@font-face {
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-family: Roboto;
  font-weight: 400;
}
body {
  font-family: Roboto, "sans-serif";
  font-weight: 400;
  line-height: 1.5;
  color: #CACACA;
  margin: 0;
}

h1 {
  font-family: Roboto, "sans-serif";
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 620px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-family: Roboto, "sans-serif";
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 620px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-family: Roboto, "sans-serif";
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 620px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

h4 {
  font-family: Roboto, "sans-serif";
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  padding: 0;
  border: none;
  color: inherit;
  font-family: inherit;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }
}

.btn {
  padding: 0;
  border: 1px solid #fff;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-play {
  background-color: #5328a1;
}
.btn-play::before {
  background-image: url("../images/play-button.svg");
}
.btn-like {
  background-color: #95390c;
}
.btn-like::before {
  background-image: url("../images/heart.svg");
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-main {
  background-color: #08020d;
}

.header {
  width: 100%;
  display: flex;
}
.header .logo {
  margin-right: 90px;
  display: flex;
  align-items: center;
}
.header .logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.header .logo-text {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}
.header .nav-menu {
  display: flex;
  gap: 24px;
}
.header .nav-menu-link {
  font-size: 11px;
  text-transform: uppercase;
}
.header .nav-menu-link.active {
  color: #fff;
}
.header .search {
  margin-left: auto;
}
.header .search-input {
  background-color: #3c3b3d;
  border-radius: 50px;
  padding: 5px 10px;
  width: 248px;
}
.header .search-input::placeholder {
  text-transform: uppercase;
  font-size: 13.3px;
  color: #757575;
}
@media screen and (max-width: 770px) {
  .header {
    flex-direction: column;
  }
  .header .logo {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header .nav {
    margin-bottom: 18px;
  }
  .header .nav-menu {
    flex-direction: column;
    gap: 0;
  }
  .header .nav-menu-link {
    font-weight: 700;
  }
  .header .search {
    margin-left: 0;
  }
  .header .search-input {
    width: 100%;
  }
}

.artist-header {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding: 25px 0 220px;
}

.artist-desc {
  margin-top: 200px;
  color: #fff;
}
.artist-desc-title {
  margin-bottom: 16px;
}
.artist-desc-likes {
  margin-bottom: 48px;
}
.artist-desc-btns {
  display: flex;
  gap: 0 24px;
}
.artist-desc-btn {
  font-size: 12.8px;
  text-align: left;
  border: none;
  padding: 20px 20px 20px 67px;
  width: 200px;
  height: 60px;
  position: relative;
}
.artist-desc-btn::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 31px;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 450px) {
  .artist-desc {
    margin-top: 55px;
  }
  .artist-desc-btns {
    flex-direction: column;
    gap: 24px 0;
  }
}

/*# sourceMappingURL=app.css.map */
