*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-family: Roboto;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-family: Roboto;
  font-weight: 400;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #cacaca;
  margin: 0;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 620px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 620px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  padding: 0;
  border: none;
  color: inherit;
  font-family: inherit;
}

.wrapper {
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1239px) {
  .wrapper {
    width: 100%;
  }
}

.btn {
  padding: 0;
  border: 1px solid #fff;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-play {
  background-color: #5328a1;
}

.btn-play::before {
  background-image: url("../images/play-button.svg");
}

.btn-like {
  background-color: #95390c;
}

.btn-like::before {
  background-image: url("../images/heart.svg");
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main {
  background-color: #08020d;
}

.hor-divider {
  width: 100%;
  border-bottom: 1px solid #cacaca;
}

#page-description {
  color: #fff;
  background-position: center;
  background-size: cover;
}

.header {
  width: 100%;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 90px;
  display: flex;
  align-items: center;
}

.header .logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.header .logo-text {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}

.header .nav-menu {
  display: flex;
  gap: 24px;
}

.header .nav-menu-item {
  font-size: 11px;
  line-height: 12.8px;
}

.header .nav-menu-link {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 12.8px;
}

.header .nav-menu-link.active {
  color: #fff;
}

.header .search {
  margin-left: auto;
}

.header .search-input {
  background-color: #3c3b3d;
  border-radius: 50px;
  padding: 5px 10px;
  width: 248px;
}

.header .search-input::placeholder {
  text-transform: uppercase;
  font-size: 13.3px;
  color: #757575;
}

@media screen and (max-width: 770px) {
  .header {
    flex-direction: column;
  }

  .header .logo {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .header .nav {
    margin-bottom: 20px;
  }

  .header .nav-menu {
    flex-direction: column;
    gap: 3px;
  }

  .header .nav-menu-link {
    font-weight: 700;
  }

  .header .search {
    margin-left: 0;
  }

  .header .search-input {
    width: 100%;
  }
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12.8px;
}

.track-info {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.track-cover {
  width: 55px;
  height: 55px;
}

.track-name {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19.2px;
}

.track-author {
  color: #e0e0e0;
}

.track-duration {
  color: #e0e0e0;
}

.discography-item {
  width: 250px;
}

.discography-item-cover {
  height: 250px;
  margin-bottom: 10px;
}

.discography-item-name {
  text-transform: none;
}

.discography-item-year {
  color: #e0e0e0;
}

@media screen and (max-width: 620px) {
  .discography-item {
    width: 137px;
  }

  .discography-item-cover {
    height: 137px;
  }
}

.similar-artist {
  width: 250px;
  text-align: center;
}

.similar-artist-avatar {
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.similar-artist-name {
  text-transform: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

.similar-artist-likes {
  color: #e0e0e0;
}

@media screen and (max-width: 620px) {
  .similar-artist {
    width: 137px;
  }

  .similar-artist-avatar {
    height: 137px;
  }
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: #e0e0e0;
}

.footer-nav {
  padding-top: 62px;
  padding-bottom: 72px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-col {
  flex: 1 1 20%;
}

.footer-nav-title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
}

.footer-nav-list-social {
  display: flex;
  gap: 24px;
}

.footer-nav-list-social-link {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
}

.footer-nav-list-social-icon {
  vertical-align: middle;
}

.footer-menu {
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 700px) {
  .footer-nav {
    gap: 20px 10px;
  }

  .footer-nav-col {
    flex: 1 1 40%;
  }
}

@media screen and (max-width: 500px) {
  .footer-nav {
    gap: 30px 0;
  }

  .footer-nav-col {
    flex: 1 1 100%;
  }

  .footer-menu {
    flex-direction: column;
  }
}

.artist-header {
  position: relative;
}

.artist-desc {
  background-image: url("../images/Morten Harket.png");
  padding-top: 250px;
  padding-bottom: 225px;
}

.artist-desc-title {
  margin-bottom: 16px;
}

.artist-desc-likes {
  margin-bottom: 48px;
}

.artist-desc-btns {
  display: flex;
  gap: 0 24px;
}

.artist-desc-btn {
  font-size: 12.8px;
  text-align: left;
  border: none;
  padding: 20px 20px 20px 67px;
  width: 200px;
  height: 60px;
  position: relative;
}

.artist-desc-btn::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 31px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 450px) {
  .artist-desc {
    padding-top: 225px;
  }

  .artist-desc-btns {
    flex-direction: column;
    gap: 24px 0;
  }
}

.popular-tracks {
  color: #fff;
}

.popular-tracks #page-popular-track {
  padding-top: 100px;
}

.popular-tracks-title {
  margin-bottom: 48px;
}

.popular-tracks-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 55px);
  gap: 25px 50px;
}

@media screen and (max-width: 600px) {
  .popular-tracks-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 55px);
    gap: 25px 0;
  }
}

.discography {
  color: #fff;
}

.discography #page-discography {
  padding-top: 100px;
}

.discography-title {
  margin-bottom: 48px;
}

.discography-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.similar-artists {
  padding-bottom: 100px;
  color: #fff;
}

.similar-artists #page-similar {
  padding-top: 100px;
}

.similar-artists-title {
  margin-bottom: 48px;
}

.similar-artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

/*# sourceMappingURL=artist.css.map */
