@import 'variables.scss';
@import 'reset.scss';

@font-face {
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-family: Roboto;
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-family: Roboto;
  font-weight: 400;
}

body {
  font-family: Roboto, 'sans-serif';
  line-height: 1.5;
  color: $secondary-light-color;
}

h1 {
  font-family: Roboto, 'sans-serif';
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: Roboto, 'sans-serif';
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}