$main-dark-color: #08020d;
$secondary-dark-color: #3c3b3d;
$main-light-color: #e0e0e0;
$secondary-light-color: #CACACA;
$green-color: #34c176;
$orange-color: #f89202;
$purple-color: #5328a1;
$brown-color: #95390c;
